<div>
    <h2>Edit Post</h2>
    <form>
        <label for="post_title">Title</label>
        <label for="post_text">Text</label>
        <button type="submit">Update Post</button>
    </form>
</div>
<script src="/javascript/edit-post.js"></script>